.menu {
    width: 250px;
    height: 100%;
    // height: calc(100vh - 50px);
    // margin-top: 50px;
    background-color: rgb(236, 236, 236);
    border-right: 0.15em solid rgb(202, 202, 202);
    padding: 15px;
    margin: 0;

    &__mobile {
        display: none;
    }

    &__header {
        color: rgb(168, 168, 168);
        font-size: 0.75em;
        padding: 10px;
        border-top: 1px solid rgb(168, 168, 168);
        position: relative;
        margin-top: 15px;
        padding-left: 0;
        &>span {
            position: absolute;
            top: calc(-100% + 10px);
            background-color: rgb(236, 236, 236);
            display: inline-block;
            padding: 0 1em;
        }
    }
}
.menu-element {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    color: rgb(97, 97, 97);
    
    &-link {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &:hover {
        background-color: rgb(196, 196, 196);
        color: rgb(53, 53, 53);
        cursor: pointer;
    }
    &.active {
        background-color: rgb(141, 141, 141);
        color: rgb(53, 53, 53);
    }    

}
@media screen and (max-width: 768px) {
    .menu-mobile-wrapper.open {
        opacity: 1;
        z-index: 3;
        
        .menu {
            z-index: 4;
            left: 0;
        }
    }

    .menu-mobile-wrapper {
        background-color: rgba(0, 0, 0, 0.404);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        opacity: 0;
        transition: opacity .5s ease, z-index .55s;
        z-index: -1;
        
        .menu {
            height: 100vh;
            position: relative;
            left: -100%;
            transition: left .5s ease;
            overflow-y: scroll;
            scrollbar-width: 0;

            &::-webkit-scrollbar {
                width: 0;
            }

            &__mobile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2em;
                padding: 0 5px 10px 5px;
                font-weight: bold;
            }
        }
    }

    
}