.card {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 2em;
    &__icon {
        font-size: 4em !important;
        color: rgb(0, 149, 235);
        padding: 10px;
    }
    &__name {
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }
    &__description {
        padding: 10px;
        color: #616161;
    }
    &:hover {
        cursor: pointer;
    }
}