.main-page {
    padding: 20px;
    &__header {
        margin: 0 auto;
        max-width: 90%;
        text-align: center;
        p {
            margin: 0;
            padding: 0;
        }
        &-name {
            font-weight: bold;
            font-size: 2em;
        }
        padding-bottom: 20px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        justify-content: center;
        gap: 1em;
       
    }
}

@media screen and (max-width: 767px) {
    .main-page__cards {
      grid-template-columns: 1fr;
    }
  }