.header {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(236, 236, 236);
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 0.15em solid rgb(202, 202, 202);
    z-index: 2;

    &__user-block {
        position: relative;

        &:hover {
            cursor: pointer;
        }
        &--info {
            display: flex;
            flex-direction: row;
            align-items: center;
            &>i {
                color: rgb(0, 149, 235);
            }
            &>div {
                display: flex;
                flex-direction: column;
                text-align: end;

                &>span:first-child {
                    font-size: 0.7em;
                }
                &>span:last-child {
                    font-size: 0.8em;
                    color: rgb(168, 168, 168);
                }
                
            }
        }

        &--dropdown {
            position: absolute;
            min-width: 100%;
            margin-top: calc(15px / 2 - 0.1em);
            border: 0.15em solid rgb(202, 202, 202);   
            border-top: 0;     
            background-color: rgb(236, 236, 236);
            // top: -1000%;
            // z-index: -1;
            opacity: 0;
            display: none;
            &.open {
                // top: 100%;
                // z-index: 1;
                opacity: 1;
                display: block;
            }
            &-element {
                text-align: center;
                color: rgb(97, 97, 97);
                padding: 5px;
                font-weight: normal;
                font-size: 0.8em;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(201, 201, 201);
                }
            }
        }
    }

    &__menu-open-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
        position: relative;
        &__logo, &__name {
            display: none;
        }
        &__menu-open-mobile {
            position: absolute;
            left: 15px;
            display: block;
        }
        &__user-block {
            width: 100%;
            &--info {
                justify-content: center;
            }
        }
    }
   
}