* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html, body, #root {
    min-width: 100%;
    min-height: 100%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

a, a:hover {
    color: inherit !important;
}